* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Baloo 2', cursive; */
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Saira', sans-serif; */
}
body {
    /* background-color: rgba(97, 99, 240, 0.507); */
    /* background: linear-gradient(45deg, red, blue); */
    /* background: linear-gradient(#e66465, #9198e5); */
    background: linear-gradient(#e77b7b, #7c86f3);
    /* background: linear-gradient(135deg, #e66465, #9198e5); */
    /* background: linear-gradient(135deg, #e66465, #9198e5); */
    /* background: linear-gradient(135deg, #e77b7b, #7c86f3); */
    /* background: linear-gradient(-45deg, #f07a57, #e73c7e, #23a6d5, #23d5ab); */
    /* background: linear-gradient(-45deg, #f07b57c7, #d6789ccc, #5595e9c5, #70a0e9); */
    background: linear-gradient(-45deg, #f08260c7, #d6789ccc, #5595e9c5, #70a0e9d2);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
   /* position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%); */
   /* display: flex;
   justify-content: center;
   align-items: center; */
   
   
   /* width: 500px; */
   width: 70vw;
   max-width: 470px;
   padding: 1rem;
   /* border: 1px solid black; */
   box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);

   background-color: white;
   /* background: linear-gradient(45deg, red, blue); */
} 

.wrapper, .tip-option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1rem;
}
.tip-option-wrapper {
    display: flex;
    flex-direction: column;
}
.tip-option-buttons {
    margin: 0 auto;
}

.tip-option-button {
    color: black;
    background-color: rgb(239, 239, 239);
    border: none;
    border-radius: 0.25rem;
    width: 3rem;
    height: 1.75rem;
    font-size: 1rem;
    /* align-items: center; */ 
}
.tip-option-input {
    color: black;
    background-color: rgb(239, 239, 239);
    border: none;
    border-radius: 0.25rem;
    /* width: 4.5rem; */
    /* width: 6rem; */
    width: 6.25rem;
    height: 1.75rem;
    font-size: 1rem;
    padding: 0rem 0.75rem;
    text-align: center;
    outline: none;
    position: relative;
}
/* align left placeholder text */
/* .tip-option-input::placeholder, .tip-option-input:-ms-input-placeholder { */
.tip-option-input::placeholder{
    text-align: left;
}
.percent {
    position: absolute;
    /* margin-left: -20px; */
    margin-left: -1.25rem;
}
.selected-tip{
    /* background-color: gray; */
    /* background-color: rgba(176, 176, 247, 0.719); */
    background-color: rgba(171, 171, 243, 0.61);
}
.custom-tip {
    /* background-color: lightgreen; */
    /* background-color: rgba(176, 176, 247, 0.719); */
    background-color: rgba(171, 171, 243, 0.61);
}

.bill-amount, .number-of-people {
    /* text-align: right; */
    text-align: center;
    /* width: 35%; */
    /* width: 87px; */
    width: 5.5rem;
    font-size: 1rem;
    /* padding-right: 0.5rem; */
}
/* show input inner spin button always */
/* input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
} */
hr {
    /* border: 1px solid rgb(116, 52, 141); */
    /* border: 1px solid rgb(116, 52, 141); */
    border: 0;
    /* border-top: 3px double rgb(116, 52, 141); */
    border-top: 3px double rgb(167, 167, 167);
}
.bill-amount {
    outline: none;
    /* border-color: rgba(171, 171, 243, 0.61); */
}
.number-of-people{
    outline: none;
    /* background-color: lavender; */
}
.number-of-people:focus {
    /* background-color: rgba(165, 165, 248, 0.788); */
    /* background-color: rgba(144, 144, 247, 0.788); */
    /* background-color: rgba(176, 176, 247, 0.719); */
    outline: none;
    background-color: rgba(171, 171, 243, 0.61);
    /* border-style: none; */
}
.per-container {
    /* background-color: lavender; */
    /* background-color: rgba(165, 165, 248, 0.788); */
    /* background-color: rgba(176, 176, 247, 0.719); */
    background-color: rgba(171, 171, 243, 0.61);
    padding: 0.25rem 0rem;
    margin: 1rem;
    border-radius: 0.25rem;
}


/* @media (max-width: 597px){ */
@media only screen and (max-width: 768px){
    .bill-amount, .number-of-people, .tip-option-input {
        text-align: center;
    }    
    .tip-option-buttons {
        margin: 0 auto;
        /* width: 220px; */
        width: 13.75rem;
    }
    .tip-option-button, .custom-tip {
        margin: 0.125rem;
    }
    .tip-option-input {
        margin: 0.125rem;
        width: 6.475rem;
    }
    .percent {
        margin-left: -1.5rem;
        margin-top: 0.15rem;
    }
}